@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JEFFCO ONLINE</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to JEFFCO ONLINE</h2>
        <p>
            JeffCO Online is an application that
            was developed and is maintained by ENDevelopment Services inc.
        </p>
    </div>
</div>